body {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	user-select: none;
	background-color: rgb(47, 46, 46);
}

#content {
	width: 640px;
    margin: auto;
}

#title {
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 100px;

	color:rgb(235, 236, 208);
	text-shadow: 5px 5px 3px rgb(72, 46, 39);

	text-align: center;
}

#about {
	margin-top: 30px;
	font-family: sans-serif;
	color:white;
	text-align: center;
}

#game {
	margin: auto;
	height: 60px;
	width: 260px;

	background-color:rgb(72, 46, 39);
	color:rgb(235, 236, 208);

	font-family: sans-serif;
	font-weight: bold;
	
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 35px;

	border: 5px solid rgb(235, 236, 208);
	border-radius: 10px;

	cursor: pointer;
	
}

#game:hover {
	background-color: rgb(63, 32, 24);
}

#game:active {
  transform: translateY(4px);
}

a {
	all: unset;
	
}